<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<header  th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
    <div class="collapse navbar-collapse d-flex align-items-center justify-content-between" id="navbarNavDropdown">
      <a class="navbar-brand" href="/">TradeBoard</a>
      <div class="dropdown">
        <button class="btn purple-btn color-white dropdown-toggle ps-3 p-2 rounded-3" type="button" id="category-dropdown" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Категории
        </button>
        <ul class="dropdown-menu mt-2" aria-labelledby="dropdown">
          <li><a href="#" class="dropdown-item">Электроника</a></li>
          <li><a href="#" class="dropdown-item">Одежда и аксессуары</a></li>
          <li><a href="#" class="dropdown-item">Мебель и интерьер</a></li>
          <li><a href="#" class="dropdown-item">Красота и здоровье</a></li>
          <li><a href="#" class="dropdown-item">Детские товары</a></li>
          <li><a href="#" class="dropdown-item">Хобби и развлечения</a></li>
          <li><a href="#" class="dropdown-item">Автомобили и транспорт</a></li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group purple search-bar p-1 rounded-3">
          <input type="text" class="form-control clear-input" style="min-width: 40vw" placeholder="Поиск" aria-label="Поиск" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn color-white ms-1" type="submit">Найти</button>
          </div>
        </div>
      </form>
      <a class="nav-link" href="#"><i class="far fa-heart favorites"></i></a>
      <a class="nav-link" sec:authorize="!isAuthenticated()" href="/auth/login">Вход и регистрация</a>
      <div sec:authorize="isAuthenticated()" class="nav-item">
        <form th:action="@{/logout}" method="POST">
          <span th:text="${#authentication.principal.name}"></span> (<input class="nav-link d-inline text-decoration-underline" type="submit" value="Выйти">)
        </form>
      </div>
      <a class="nav-link" href="/product/new"><button class="btn purple-btn color-white p-2 rounded-3">Разместить объявление</button></a>
    </div>
  </nav>
</header>
</body>
</html>
