<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Шаблон страницы</title>
  <link rel="icon" type="image/ico" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
    <div class="collapse navbar-collapse d-flex align-items-center justify-content-between" id="navbarNavDropdown">
      <a class="navbar-brand" href="#">TradeBoard</a>
      <div class="dropdown">
        <button class="btn header-btn color-white dropdown-toggle ps-3 p-2 rounded-3" type="button" id="category-dropdown" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Категории
        </button>
        <ul class="dropdown-menu mt-2" aria-labelledby="dropdown">
          <li th:each="category : ${categories}"><a href="#" class="dropdown-item" th:text="#{${category.name()}}"></a></li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group purple search-bar p-1 rounded-3">
          <input type="text" class="form-control clear-input" style="min-width: 40vw" placeholder="Поиск" aria-label="Поиск" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn color-white ms-1" type="submit">Найти</button>
          </div>
        </div>
      </form>
      <a class="nav-link" href="#"><i class="far fa-heart favorites"></i></a>
      <a class="nav-link" href="#">Вход и регистрация</a>
      <a class="nav-link" href="#"><button class="btn header-btn color-white p-2 rounded-3">Разместить объявление</button></a>
    </div>
  </nav>
</header>
<script src="/static/js/popper.min.js" ></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
