main {
    min-height: 90vh;
}

.purple {
    background-color: purple;
}

.color-white,
.color-white:hover,
.color-white:focus,
.color-white:active {
    color: white;
}

.color-purple,
.color-purple:hover,
.color-purple:focus,
.color-purple:active {
    color: purple;
}

/* Header button */
.purple-btn {
    transition: 0.08s;
    background-color: purple;
}

.purple-btn:hover,
.purple-btn:focus,
.purple-btn:active {
    background-color: #6b006b;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    background-color: #6b006b;
}

/* Search bar */
.search-bar:hover {
    background-color: #6b006b;
}

.clear-input,
.clear-input:focus,
.clear-input:active {
    outline: none;
    border: black;
    box-shadow: none;
    outline-offset: 0;
}

/* Favorites icon */
.favorites {
    font-size: 1.8rem;
    transition: 0.18s;
}

.favorites:hover {
    scale: 1.05;
}

/* auth-form */
.auth-form {
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    background-color: #fcfcfc;
}