main {
    min-height: 90vh;
}

.margin-top-80 {
    margin-top: 80px;
}

.padding-top-80 {
    padding-top: 80px;
}
.purple {
    background-color: purple;
}

.color-white,
.color-white:hover,
.color-white:focus,
.color-white:active {
    color: white;
}

.color-purple,
.color-purple:hover,
.color-purple:focus,
.color-purple:active {
    color: purple;
}

.color-gray,
.color-gray:hover,
.color-gray:focus,
.color-gray:active {
    color: gray;
}

.transition-0-15 {
    transition: 0.15s;
}

/* Header button */
.purple-btn {
    transition: 0.08s;
    background-color: purple;
}

.purple-btn:hover,
.purple-btn:focus,
.purple-btn:active {
    background-color: #6b006b;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    background-color: #6b006b;
}

/* Search bar */
.search-bar:hover {
    background-color: #6b006b;
}

.clear-input,
.clear-input:focus,
.clear-input:active {
    outline: none;
    border: black;
    box-shadow: none;
    outline-offset: 0;
}

/* Favorites icon */
.favorites {
    font-size: 1.7rem;
    transition: 0.18s;
}

.favorites:hover {
    scale: 1.05;
}

.auth-form {
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    background-color: #fcfcfc;
}

@media (min-width: 768px) {
    .product-card {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .product-card {
        width: 47%;
        float: left;
    }
}

@media (min-width: 992px) {
    .product-card {
        width: 23%;
        float: left;
    }
}

.product-preview-image {
    object-fit: cover;
    height: calc(7.5rem + 7vh);
}

.carousel-img-container {
    background-color: #f2f2f2;
    height: 360px;
    width: 640px;
}

.carousel-inner .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ad-block {
    overflow: hidden;
    background-color: #f8f8f8;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 360px;
}

.favor-card {
    padding: 20px;
    overflow: hidden;
    transition: 0.12s;
    border-radius: 10px;
    height: calc(10rem + 40px);
}

.favor-card:hover {
    background-color: #f8f8f8;
}

.pre-block {
    font-size: 1.03rem;
    font-family: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-right: 5.6vw;
}

@media (max-width: 1000px) {
    .ad-block {
        display: none;
    }
}

.header-shadow {
    transition: 0.2s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    transition: 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.carousel-control-next-icon:active,
.carousel-control-prev-icon:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}